<p>
  <strong>Twitter ID (user)</strong>
  <%= comment.user %>
</p>

<p>
  <strong>Comment</strong>
  <%= simple_format comment.body %>
</p>

<p>
  <%= link_to 'Destroy a Comment', [comment.board, comment],
              method: :delete, data: { confirm: 'Are you sure destroy a comment?' } %>
</p>
