<%= form_for( [@board, @board.comments.build] ) do |f| %>
  <p>
    <%= f.label :body, "Comment" %><br />
    <%= f.text_area :body, cols: 40, rows: 4 %>
  </p>

  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>
