<!DOCTYPE html>
<head>
    <title>My App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/confirm.css">
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="./javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./javascripts/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="./javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
</head>
<body>

</body>