<%= javascript_include_tag "https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false", "boards/map.js", "boards/jquery.fullPage.min.js", "boards/jquery.flip.min.js", "boards/init.js" %>

<div id="fullpage">
	<div class="section">
		<div id="map"></div>
		<a href="boards/new"><img src="/assets/build-button.png" alt="BUILD" id="build-button"></a>
	</div>
	<div class="section">



		<div class="flip-container">
			<div class="flipper">

				<div class="front" style="background:#62C4E4;">


				<!-- 	<img src="http://placehold.jp/3d4070/ffffff/300x300.png">
 -->
					<div id="hyoushiki">

						<span id="return-button"><a href="#m"><img src="/assets/UI-return.png" width="60"/></a></span>

						<div id="haikei"><img src="/assets/UI-ura-cloud.png" width="360"/></div>
						
						<div id="hyoushiki-img"><img src="/assets/UI-kanban.png" width="250" /></div>
						
						<div id="caption">
							<p>○○注意ああああああああ</p>
						</div>


						<div id="hyouka">
							<img src="/assets/UI-info-back.png" width="150"/>
						</div>

						<div id="hyouka-button-set">
							<span class="counter" id="like-count">23</span>
							<span id="like-button">
							<a href="#"><img src="/assets/UI-info-like.png" width="60" /></a>
							</span>
							<span id="bad-button">
								<a href="#"><img src="/assets/UI-info-unlike.png" width="60" /></a>
							</span>
							<span class="counter" id="bad-count">23</span>


						</div>

						<div id="sosial-button-set">
							<span ><img src="/assets/UI-facebook.png" width="50" ></span>
							<span ><img src="/assets/UI-twitter.png" width="50" ></span>
							<span ><img src="/assets/UI-google.png" width="50" /></span>
						</div>
					


					</div>

				</div>
				<div class="back" style="background:#62C4E4;">
					<div id="ura-hyoushiki">

						<span id="ura-return-button"><a href="#m"><img src="/assets/UI-return.png" width="60"/></a></span>

						<div id="ura-haikei"><img src="/assets/UI-ura-cloud.png" width="360"/></div>
						
						<div id="ura-hyoushiki-img"><img src="/assets/UI-kanban.png" width="250" /></div>
						
						<div id="ura-caption">
							<p>○○注意ああああああああ</p>
						</div>


						<div id="ura-hyouka">
							<img src="/assets/UI-info-back.png" width="150"/>
						</div>

						<div id="ura-hyouka-button-set">
							<span class="counter" id="ura-like-count">23</span>
							<span id="ura-like-button">
							<a href="#"><img src="/assets/UI-info-like.png" width="60" /></a>
							</span>
							<span id="ura-bad-button">
								<a href="#"><img src="/assets/UI-info-unlike.png" width="60" /></a>
							</span>
							<span class="counter" id="ura-bad-count">23</span>


						</div>

						<div id="ura-sosial-button-set">
							<span ><img src="/assets/UI-facebook.png" width="50" ></span>
							<span ><img src="/assets/UI-twitter.png" width="50" ></span>
							<span ><img src="/assets/UI-google.png" width="50" /></span>
						</div>
					


					</div>

					<!-- <div>	

						<em><span style="position: absolute; top: 184px; left: 23px; width: ; width: 581px; height: 520px;"><img src="/assets/UI-ura-cloud.png"  alt="" width="560" height="228" /></span>
							<span style="position: absolute; top: 25px; left: 21px; width: ; width: 99px; height: 103px;"><img src="/assets/UI-return.png"  alt="" width="99" height="99" /></span>
							<span style="position: absolute; top: 20px; left: 170px; width: ; width: 352px; height: 513px;"><img src="/assets/UI-kanban.png"  alt="" width="324" height="526" /></span>

							<span style="position: absolute; top: 484px; left: 90px; width: ; width: 525px; height: 520px;">
								<div class="comment">
									文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
									文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
									文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								</div>
							</span>

							<span style="position: absolute; top: 12px; left: 394px; width: ; width: 200px; height: 130px;">
								<div class="info">
									投稿者:</br>
									日付:
								</div>
							</span>


						</div>
					</div> -->
				</div>
			</div>
			<!-- <div class="toggle">
				<img src="/assets/UI-info-urahe.png">
			</div> -->


		</div>
	</div>