<%= javascript_include_tag "https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false", "boards/map.js", "boards/jquery.fullPage.min.js", "boards/jquery.flip.min.js", "boards/init.js" %>

<div id="fullpage">
	<div class="section">
		<div id="map"></div>
		<a href="boards/new"><img src="/assets/UI-build.png" alt="BUILD" id="build-button"></a>
	</div>
	<div class="section">



		<div class="flipper">

			<div class="front">

				<div id="hyoushiki">

					<span id="return-button"><a href="#m"><img src="/assets/UI-return.png" width="60"/></a></span>

					<div id="haikei"><img src="/assets/UI-ura-cloud.png" width="360"/></div>
					
					<div id="hyoushiki-img-1"><img src="/assets/UI-kanban-dummy.png" width="250" /></div>

					<div id="hyoushiki-img-2"><img src="/assets/UI-kanban-2.png" width="250" /></div>
					
					<div id="caption">
						<p>○○注意ああああああああ</p>
					</div>


					<div id="hyouka">
						<img src="/assets/UI-info-back.png" width="150"/>
					</div>

					<div id="hyouka-button-set">
						<span class="counter" id="like-count">23</span>
						<span id="like-button">
						<a href="#"><img src="/assets/UI-info-like.png" width="60" /></a>
						</span>
						<span id="bad-button">
							<a href="#"><img src="/assets/UI-info-unlike.png" width="60" /></a>
						</span>
						<span class="counter" id="bad-count">23</span>


					</div>

					<div id="sosial-button-set">
						<span ><img src="/assets/UI-facebook.png" width="50" ></span>
						<span ><img src="/assets/UI-twitter.png" width="50" ></span>
						<span ><img src="/assets/UI-google.png" width="50" /></span>
					</div>
				


				</div>

			</div>
			<div class="back">

				<div id="ura-hyoushiki">

					<span id="ura-return-button"><a href="#m"><img src="/assets/UI-return.png" width="60"/></a></span>

					<div id="ura-haikei"><img src="/assets/UI-ura-cloud.png" width="360"/></div>

					<div class="metainfo">
						もうせ</br>
						2015-9-18
					</div>
					
					<div id="ura-hyoushiki-img-1"><img src="/assets/UI-kanban-dummy.png" width="150" /></div>
					<div id="ura-hyoushiki-img-2"><img src="/assets/UI-kanban-2.png" width="150" /></div>
					
					<div id="ura-caption">
						<p>○○注意ああああああああ</p>
					</div>


					
					<div class="comment">
						<div class="comment-body">
							面白い!
						</div>
						<div class="comment-foot">
							名無しさん
						</div>
						<hr>
						<div class="comment-body">
							最高!
						</div>
						<div class="comment-foot">
							もうせ
						</div>
						<hr>
					</div>

					<div class="addcomment">
						<form action="">
							<input type="text" placeholder="コメントを入力" id="commentinput">
							<input type="submit" value="投稿">
						</form>
					</div>
				


				</div>

			</div><!--back-->
		</div><!--flipper-->

	</div>