<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3&sensor=false", "boards/map.js", "boards/jquery.fullPage.min.js", "boards/jquery.flip.min.js", "boards/init.js" %>

<div id="fullpage">
	<div class="section">
		<div id="map"></div>
		<a href="boards/new"><img src="/assets/build-button.png" alt="BUILD" id="build-button"></a>
	</div>
	<div class="section">



		<div class="flip-container">
			<div class="flipper">

				<div class="front" style="background:#62C4E4;">



					<span style="position: absolute; top: 184px; left: 23px; width: ; width: 581px; height: 520px;"><img src="/assets/UI-ura-cloud.png"  alt="" width="560" height="228" /></span>
					<span style="position: absolute; top: 25px; left: 21px; width: ; width: 99px; height: 103px;"><img src="/assets/UI-return.png"  alt="" width="99" height="99" /></span>
					<span style="position: absolute; top: 20px; left: 170px; width: ; width: 352px; height: 513px;"><img src="/assets/UI-kanban.png"  alt="" width="324" height="526" /></span>
					<span style="position: absolute; top: 521px; left: 156px; width: ; width: 434px; height: 210px;"><img src="/assets/UI-info-back.png"  alt="" width="343" height="168"  /></span>
					<span style="position: absolute; top: 540px; left: 190px; width: ; width: 164px; height: 158px;"><img src="/assets/UI-info-like.png"  alt="" width="125" height="125" /></span>
					<span style="position: absolute; top: 540px; left: 340px; width: ; width: 162px; height: 160px;"><img src="/assets/UI-info-unlike.png"  alt="" width="125" height="125" /></span>

					<span style="position: absolute; top: 720px; left: 364px; width: ; width: 124px; height: 129px;"><img src="/assets/UI-facebook.png"  alt="" width="105" height="105" /></span>
					<span style="position: absolute; top: 720px; left: 243px; width: ; width: 114px; height: 117px;"><img src="/assets/UI-twitter.png"  alt="" width="105" height="105" /></span>
					<span style="position: absolute; top: 720px; left: 485px; width: ; width: 107px; height: 108px;"><img src="/assets/UI-google.png"  alt="" width="105" height="105"  /></span>

					<span style="position: absolute; top: 588px; left: 521px; width: ; width: 123px; height: 130px;">
						<div class="counter">
							12
						</div>
					</span>
					<span style="position: absolute; top: 590px; left: 64px; width: ; width: 200px; height: 130px;">
						<div class="counter">
							10
						</div>
					</span>


				</div>
				<div class="back" style="background:#62C4E4;">
					<div>	

						<em><span style="position: absolute; top: 184px; left: 23px; width: ; width: 581px; height: 520px;"><img src="/assets/UI-ura-cloud.png"  alt="" width="560" height="228" /></span>
							<span style="position: absolute; top: 25px; left: 21px; width: ; width: 99px; height: 103px;"><img src="/assets/UI-return.png"  alt="" width="99" height="99" /></span>
							<span style="position: absolute; top: 20px; left: 170px; width: ; width: 352px; height: 513px;"><img src="/assets/UI-kanban.png"  alt="" width="324" height="526" /></span>

							<span style="position: absolute; top: 484px; left: 90px; width: ; width: 525px; height: 520px;">
								<div class="comment">
									文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
									文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
									文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								</div>
							</span>

							<span style="position: absolute; top: 12px; left: 394px; width: ; width: 200px; height: 130px;">
								<div class="info">
									投稿者:</br>
									日付:
								</div>
							</span>


						</div>
					</div>
				</div>
			</div>
			<div class="toggle">
				<img src="/assets/UI-info-urahe.png">
			</div>


		</div>
	</div>