<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3&sensor=false", "boards/map.js" %>

<div id="fullpage">
<div class="section">
    <div id="map"></div>
</div>
<div class="section">
	<div>
		<a href="#map">戻る</a>
	</div>
	<img src="" id="board-img">
	<p id="board-text"></p>
	<ul>
		<li><button>Good</button></li>
		<li><button>Bad</button></li>
	</ul>
</div>
</div>