<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3&sensor=false", "boards/map.js", "boards/jquery.fullPage.min.js", "boards/init.js" %>

<div id="fullpage">
<div class="section">
    <div id="map"></div>
    <a href="boards/new"><img src="assets/build-button.png" alt="BUILD" id="build-button"></a>
</div>
<div class="section">

<!-- <div id="card-1" class="card">
  <div class="front">
  	<button class="toggle">ウラを見る</button>

      <img src="http://placehold.jp/333887/ffffff/300x300.png">
      <div>
		<a href="#m">戻る</a>
	</div>
	<img src="" id="board-img">
	<p id="board-text"></p>
	<ul>
		<li><button>Good</button></li>
		<li><button>Bad</button></li>
	</ul>
  </div>
  <div class="back">
        	<button class="toggle">オモテに戻る</button>

      <img src="http://placehold.jp/333887/ffffff/300x300.png">

  </div>
</div> -->
      <img src="http://placehold.jp/333887/ffffff/300x300.png">


</div>
</div>