<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3&sensor=false", "boards/map.js", "boards/jquery.fullPage.min.js", "boards/jquery.flip.min.js", "boards/init.js" %>

<div id="fullpage">
<div class="section">
    <div id="map"></div>
    <a href="boards/new"><img src="assets/build-button.png" alt="BUILD" id="build-button"></a>
</div>
<div class="section">



<div class="flipper">
	<div class="front">
		
	</div>
	<div class="back">
		
	</div>
</div>


</div>
</div>