<%= javascript_include_tag "new/jquery-migrate-1.2.1.min.js", "new/jquery-ui.js", "slick/slick.min.js" %>
<%= stylesheet_link_tag "new/edit.css", "new/slick.css", "new/slick-theme.css" %>

<span id="latitude" >x</span>
<span id="longitude" >y</span>

<div id="canvas">
    <canvas id="canvasElement" width="400" height="400"></canvas>
</div>
<div id = "select" >
<div class="center">
<input type="text" id="caption" maxlength='12'/>

<!-- ここをgetで値を取って、関数を呼び出してください。 -->
<button onclick="change_board(1)">‎青</button>
<button onclick="change_board(2)">黄色</button>
<button onclick="change_board(3)">赤</button>


<div id="tabs">

  <div id="tabs-1">
    <div class="signselector">
        <div><button onclick="stamp('left', 'none')"><img src="/assets/grayIcon/left/none.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'ame')"><img src="/assets/grayIcon/left/ame.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'car')"><img src="/assets/grayIcon/left/car.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'cat')"><img src="/assets/grayIcon/left/cat.png" height="80" width="80"></button> </div>
        <div><button onclick="stamp('left', 'karaoke')"><img src="/assets/grayIcon/left/karaoke.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'kisskidf')"><img src="/assets/grayIcon/left/kisskidf.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'kisskidm')"><img src="/assets/grayIcon/left/kisskidm.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'man')"><img src="/assets/grayIcon/left/man.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'motituki')"><img src="/assets/grayIcon/left/motituki.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'nozoki')"><img src="/assets/grayIcon/left/nozoki.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'panda')"><img src="/assets/grayIcon/left/panda.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'run')"><img src="/assets/grayIcon/left/run.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'samurai')"><img src="/assets/grayIcon/left/samurai.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'syagamu')"><img src="/assets/grayIcon/left/syagamu.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'tomb')"><img src="/assets/grayIcon/left/tomb.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'woman')"><img src="/assets/grayIcon/left/woman.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'youjo')"><img src="/assets/grayIcon/left/youjo.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('left', 'hamburger')"><img src="/assets/grayIcon/left/hamburger.png" height="80" width="80"></button></div>
    </div>
  </div>
  <div id="tabs-2">
    <div class="signselector">
        <div><button onclick="stamp('center', 'none')"><img src="/assets/grayIcon/center/none.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'banzai')"><img src="/assets/grayIcon/center/banzai.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'barerina')"><img src="/assets/grayIcon/center/barerina.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'chair')"><img src="/assets/grayIcon/center/chair.png" height="80" width="80"></button> </div>
        <div><button onclick="stamp('center', 'heart')"><img src="/assets/grayIcon/center/heart.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'lead')"><img src="/assets/grayIcon/center/lead.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'nessi')"><img src="/assets/grayIcon/center/nessi.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'ochai')"><img src="/assets/grayIcon/center/ochai.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'skul')"><img src="/assets/grayIcon/center/skul.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'unko')"><img src="/assets/grayIcon/center/unko.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('center', 'ushi')"><img src="/assets/grayIcon/center/ushi.png" height="80" width="80"></button></div>
    </div>
  </div>
  <div id="tabs-3">
    <div class="signselector">
        <div><button onclick="stamp('right', 'none')"><img src="/assets/grayIcon/right/none.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'nukarumi')"><img src="/assets/grayIcon/right/nukarumi.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'car')"><img src="/assets/grayIcon/right/car.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'cat')"><img src="/assets/grayIcon/right/cat.png" height="80" width="80"></button> </div>
        <div><button onclick="stamp('right', 'karaoke')"><img src="/assets/grayIcon/right/karaoke.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'kisskidf')"><img src="/assets/grayIcon/right/kisskidf.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'kisskidm')"><img src="/assets/grayIcon/right/kisskidm.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'man')"><img src="/assets/grayIcon/right/man.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'motituki')"><img src="/assets/grayIcon/right/motituki.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'nozoki')"><img src="/assets/grayIcon/right/nozoki.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'panda')"><img src="/assets/grayIcon/right/panda.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'run')"><img src="/assets/grayIcon/right/run.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'samurai')"><img src="/assets/grayIcon/right/samurai.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'syagamu')"><img src="/assets/grayIcon/right/syagamu.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'tomb')"><img src="/assets/grayIcon/right/tomb.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'woman')"><img src="/assets/grayIcon/right/woman.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'youjo')"><img src="/assets/grayIcon/right/youjo.png" height="80" width="80"></button></div>
        <div><button onclick="stamp('right', 'hamburger')"><img src="/assets/grayIcon/right/hamburger.png" height="80" width="80"></button></div>
    </div>
  </div>
    <ul>
    <li><a href="#tabs-1"><img src="/assets/signal_left_h.png" width="60" id="blue"></a></li>
    <li><a href="#tabs-2"><img src="/assets/signal_center_def.png" width="45" id="yellow"></a></li>
    <li><a href="#tabs-3"><img src="/assets/signal_right_def.png" width="60" id="red"></a></li>
  </ul>
</div>
<div onclick="build()"><img src="/assets/UI parts/UI-make-build.png" width="80"></div>
</div>


<img id="newImg">

</div>

<%= javascript_include_tag "new/FileSaver.js", "new/canvas-toBlob.js", "new/pngExpoter.js" %>