/*// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#map {
	height: 100%;
	width: 100%;
	z-index: 1;
}

#build-button{
	position: absolute;
	right: 10px;
	bottom: 15px;
	width: 100px;
	z-index: 2;
}

.section{
	text-align: center;
}

.metainfo {
  position: absolute;
  top: 10px;
  right: 10px;

  overflow: visible;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  margin-bottom: 3px;
  border-radius: 5px;

  font-family: 'Noto Sans Japanese', serif;
  font-color:#ccc;

}

.counter {
  overflow: visible;
  width: 35px;
  height: 27px;
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  margin-bottom: 10px;
  border-radius: 5px;

  font-family: 'Noto Sans Japanese', serif;
  font-size:20px;
  font-color:#ccc;

}

#good-count{
	position: absolute;
	top : 12px;
	left: 22px;
}

#bad-count{
	position: absolute;
	top: 12px;
	right: 22px;
}

#hyoushiki{
	position: absolute;
	left: 50%;
	height: 100%;
	width: 360px;
	margin-left: -180px;
}

#ura-hyoushiki{
	position: absolute;
	left: 50%;
	height: 100%;
	width: 360px;
	margin-left: -180px;
}


#haikei{
	position: absolute;
	z-index: -2;
}

#ura-haikei{
	position: absolute;
	z-index: -2;
}

#return-button{
	position: absolute;
	top: 10px;
	left: 10px;
}

#ura-return-button{
	position: absolute;
	top: 10px;
	left: 10px;
}

#hyoushiki-img-1{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -125px;
	width: 250px;
	z-index: -1;
}

#hyoushiki-img-2 {
	position: absolute;
	top: 234px;
	left: 50%;
	margin-left: -125px;
	width: 250px;
	z-index: -2;
}

#ura-hyoushiki-img-1{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	z-index: -1;
}

#ura-hyoushiki-img-2{
	position: absolute;
	top: 142px;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	z-index: -2;
}

#caption{
	position: absolute;
	top: 277px;
	left: 50%;
	margin-left: -105px;
	width: 210px;
	height: 50px;
	text-align: center;
	z-index: 1;
	font-family: 'Noto Sans Japanese', serif;
    font-size:17px;
}

#ura-caption {
	position: absolute;
	top: 166px;
	left: 50%;
	margin-left: -105px;
	width: 210px;
	height: 50px;
	text-align: center;
	z-index: 1;
	font-family: "Noto Sans Japanese",serif;
	font-size: 11px;
}

#hyouka{
	position: absolute;
	top: 410px;
	left: 50%;
	margin-left: -75px;
	width: 150px;
}

#hyouka-button-set{
	position: absolute;
	top: 417px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 74px;
	text-align: center;

}

#good-button{
	margin-right: 5px;
}

#bad-button{
	margin-left: 5px;
}

#social-button-set{
	position: absolute;
	top: 495px;
	right: 30px;
	width: 200px;
}

.comment {
	overflow: scroll;
	width: 320px;
	height: 230px;
	background-color: #FFF;
	border-color: #FFF;
	border-style: solid;
	margin-bottom: 3px;
	border-radius: 5px;
	font-family: "Noto Sans Japanese",serif;

	position: absolute;
	top: 253px;
	left: 50%;
	margin-left: -160px;
}

.comment-body{
	font-size: 14px;
	text-align: left;
}
.comment-foot{
	font-size: 10px;
	text-align: right;

}

#displaycomment {
  text-align: left;
  font-size: 14px;
}

#username {
  text-align: right;
  font-size: 10px;

}

.addcomment{
	position: absolute;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	top: 496px;
}
#commentinput{
	width: 250px;
	height: 30px;
	border: 1px;
	border-radius: 5px;
}
