/*// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#map { 
	height: 100%;
	width: 100%;
	z-index: 1;
}

#build-button{
	position: absolute;
	right: 10px;
	bottom: 15px;
	width: 100px;
	z-index: 2;
}

.section{
	text-align: center;
}
